#cities-table-wrapper {
	height: 100%;
	flex-grow: 1;
	overflow-y: scroll;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

tr,
td {
	border: 1px solid rgba(0, 78, 102, 0.3);
	padding: 10px 5px;
}

th {
	height: 40px;
	font-size: 1rem;
}

tfoot > tr > td > button {
	width: 100px;
	margin: 5px;
	padding: 5px 10px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 7px;
	background: none;
	color: #333;
	font-size: 1em;
	cursor: pointer;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
tfoot > tr > td > button:active {
	box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.1);
}
tfoot > tr > td > button:disabled {
	color: #ccc;
	cursor: not-allowed;
}
